.say-hello {
  box-shadow: inset 0 -0.6em #64b5f7;
  text-align: center;
  font-weight: 600;
  color: #162938;
  padding: 0 4px;
}

.say-hello:hover {
  background-color: #64b5f7;
  color: #fff;
}
.app-about-info {
  display: flex;
  align-items: center;
}

.app-contact {
  flex: 2;
}

.resume {
  border-bottom: 1px dotted;
}

.app-about-resume {
  width: 60%;
  margin-bottom: 1em;
}

.app-about-resume ul {
  flex-direction: column;
  padding: 0.5em 0;
}

.app-about-resume ul li {
  margin: 0.25em 0;
}

.app-about--info-content > p {
  margin: 1em 0;
  width: 75%;
}

.app-about-image {
  width: 25%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .app-about-info{
    flex-direction: column-reverse;
  }

  .app-about--info-content > p,.app-about-resume {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  
  .app-about-resume {
    width: 100%;
  }

  .app-about-image{
    width: 100%;
  }

  .app-about--info-content > p {
    width: 100%;
  }
}
