.app-nav {
  display: flex;
  flex: 1;
}

.app-nav--item {
  flex: 1;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.app-nav--item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0.25em;
  content: '';
  display: block;
  height: 0.2em;
  left: 50%;
  position: absolute;
  background: #64b5f7;
  /* transition: width 0.3s ease 0s, left 0.3s ease 0s; */
  width: 0;
}
.app-nav--item:hover:after {
  width: 70%;
  left: 15%;
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .app-nav {
    text-align: center;
  }
}
