.app-card {
  padding: 1em 0.5em;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-card--image {
  width: 80%;
  height: auto;
}

.app-card--title {
  font-size: 0.85em;
  margin: 1em 0 0 0;
}

.app-card--title > a:link {
  border-bottom: 1px dotted;
}

@media screen and (max-width: 600px) {
  .app-card {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .app-card {
    padding: 1em 0.5em;
    width: 100%;
    height: auto;
  }
}
