.app-feature-work--item {
  display: flex;
  align-items: center;
  margin: 2.5em 0;
}

.app-feature-work--item-info {
  padding: 0 0 0 5%;
}

.app-feature-work--image {
  width: 50%;
  height: auto;
  border: 1px solid #ddd;
}

.app-feature-work--item-info--role {
  font-style: italic;
  font-size: 0.8em;
}

.app-feature-work--item-info--title {
  font-size: 2.5em;
  line-height: 110%;
  font-weight: 400;
}

.app-feature-work--item-info--tech {
  font-size: 0.8em;
  margin: 1em 0;
}

.app-feature-work--item-info--tech > li {
  background-color: #162938;
  color: #fff;
  margin: 0.2em;
  padding: 0.2em 0.5em;
}

@media screen and (max-width: 600px) {
  .app-feature-work--item {
    display: block;
  }

  .app-feature-work--image {
    width: 100%;
    height: auto;
    margin: 0 0 1em 0;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .app-feature-work--item {
    display: block;
  }

  .app-feature-work--image {
    width: 100%;
    height: auto;
    margin: 0 0 1em 0;
  }
}
