.app-feature-work--item {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.app-feature-work--link {
  flex: 2;
  position: relative;
}

.app-feature-work--item-info {
  padding: 0 0 0 5%;
  flex: 1.5;
}

.app-feature-work--link:hover img {
  transform: scale(0.99);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 98.5%;
  width: 100%;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.app-feature-work--link:hover .overlay {
  opacity: 0;
}

.app-feature-work--image {
  width: 100%;

  height: auto;
  border: 1px solid #ddd;
}

.app-feature-work--item-info--role {
  font-style: italic;

  font-size: 0.85em;
}

.app-feature-work--item-info--title {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 0.25em;
}

.app-feature-work--item-info--tech {
  font-size: 0.8em;
  margin: 1em 0;
}

.app-feature-work--item-info--tech > li {
  background-color: #162938;
  color: #fff;
  margin: 0.2em;
  padding: 0.2em 0.5em;
}

@media screen and (max-width: 600px) {
  .overlay {
    opacity: 0;
  }

  .app-feature-work--item {
    display: block;
  }

  .app-feature-work--item-info--title {
    font-size: 1.5em;
  }

  .app-feature-work--image {
    width: 100%;
    height: auto;
    margin: 0 0 1em 0;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .overlay {
    opacity: 0;
  }

  .app-feature-work--item {
    display: block;
  }

  .app-feature-work--image {
    width: 100%;
    height: auto;
    margin: 0 0 1em 0;
  }
}
