.halant {
  font-family: "Halant", serif;
}

.semi-bold {
  font-weight: 600;
}

.queen {
  box-shadow: inset 0 -0.6em #64b5f7;
  color: #162938;
}

.app {
  padding: 2em 5em;
  overflow-x: hidden;
}

.app-header {
  display: flex;
  align-items: center;
}

.app-header--heading {
  font-size: 1em;
  font-weight: 300;
  flex: 1.5;
}

.app-nav {
  display: flex;
  flex: 1;
}

.app-nav--item {
  flex: 1;
}

.app-main {
  display: flex;
  flex-direction: column;
  font-size: 2.25em;
  line-height: 3rem;
  width: 50%;
  padding: 5em 0;
  margin: 0 auto;
}

.app-section-heading {
  font-size: 1em;
  color: #162938;
}

.app-main--social-links {
  font-size: 0.6em;
}

.app-about {
  display: flex;
  align-items: center;
}

.app-about--info > p {
  margin: 1em 0;
  width: 75%;
}

.app-about-image {
  width: 25%;
  height: auto;
}

.app-other--work {
  margin: 5% 0;
}

.app-card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.say-hello {
  box-shadow: inset 0 -0.6em #64b5f7;
  text-align: center;
  font-weight: 600;
  color: #162938;
  padding: 0 4px;
}

.say-hello:hover {
  background-color: #64b5f7;
  color: #fff;
}

footer {
  margin: 5% 0 0 0;
  display: flex;
  justify-content: center;
}

.app-contact {
  flex: 2;
}

.resume {
  border-bottom: 1px dotted;
}

.about-timeline-list {
  display: inline-block;
}

.about-timeline--check-circle {
  color: #64b5f7;
  margin: 0 0.5em 0 0.25em;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 2em;
    font-size: 0.75em;
  }

  .app-header--heading {
    display: none;
  }

  .app-main {
    width: 70%;
    font-size: 1em;
    line-height: 1.25rem;
    padding: 3em 0;
  }

  .app-section-heading {
    font-size: 0.9em;
  }

  .app-about-image {
    display: none;
  }

  .app-about--info > p {
    width: 100%;
  }

  footer,
  footer > .app-social-links {
    display: block;
    text-align: center;
  }

  footer > .app-social-links {
    margin: 1em 0;
  }
}

/* 2.3 Medium screens and up */
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .app {
    padding: 2.5em;
  }

  .app-header--heading {
    display: none;
  }

  .app-nav {
    text-align: center;
  }

  .app-main {
    width: 100%;
    padding: 2em 1em;
    font-size: 2em;
  }

  .app-section-heading {
    font-size: 1em;
  }
}

/* 2.4 Large Screens */
@media screen and (min-width: 1024px) {
  /* styles for large and onward only */
}

@media screen and (min-width: 1824px) {
  /* styles for large and onward only */
  .app {
    padding: 2.5em 20%;
  }
}
