.secondary-font {
  font-family: 'IBM Plex Serif', serif;
}

.semi-bold {
  font-weight: 600;
}

.queen {
  box-shadow: inset 0 -0.6em #64b5f7;
  color: #162938;
}

.app {
  padding: 2em 5em;
  overflow-x: hidden;
  transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -moz-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -o-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
}

.app-section-heading {
  font-size: 1.2em;
  padding: 0 0 2em 0 ;
  color: #162938;
  font-weight: 500;
  text-align: center;
}

footer {
  margin: 10% 0 0 0;
  display: flex;
  justify-content: center;
}

/** Small Screen */
@media screen and (max-width: 600px) {
  .app {
    padding: 2em;
    font-size: 0.75em;
  }


  .app-section-heading {
    font-size: 0.9em;
  }

  .hide-on-small{
    display: none;
  }

  footer,
  footer > .app-social-links {
    display: block;
    text-align: center;
  }

  footer > .app-social-links {
    margin: 1em 0;
  }
}

/* Medium screens and up */
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .app {
    padding: 2.5em;
  }

  .app-section-heading {
    font-size: 1em;
  }

  
}

/* Large Screens */
@media screen and (min-width: 1824px) {
  /* styles for large and onward only */
  .app {
    padding: 2.5em 20%;
  }
}
