*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  color: #162938;
  margin: 0 auto;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14pt;
  font-weight: 300;
  background-color: #f8f8f8;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: #162938;
  cursor: pointer;
}

a:hover,
a:active {
  color: #64b5f6;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

ul > li {
  padding: 0 0.5em 0 0;
}
